.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  z-index: 100;
  position: relative;
}

.sort {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 170px;
  margin-left: 600px;
  color: white;
}

.input {
  position: absolute;
  display: flex;
  justify-content: center;
}

.searchBar {
  width: 300px;
  height: 30px;
}
.searchButton {
  height: 36px;
  width: 36px;
}

.product_img {
  position: relative;
  height: 300px;
  z-index: 0.9;
  opacity: 1;
  transition: opacity 0.2s, z-index 0.2s;
}

.product_img2 {
  position: absolute;
  height: 300px;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.2s, z-index 0.2s;
}

.product:hover .product_img2 {
  opacity: 1;
  z-index: 1;
  margin-bottom: 65px;
}

.product {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  width: 25%;
  z-index: 1;
}

.productSoldOut {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  width: 25%;
  opacity: 0.5;
}

.product:hover .options {
  opacity: 0.7;
}
.product:hover .product_img {
  opacity: 0;
  z-index: 0;
}

.product_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  background-color: lightgray;
  width: 60%;
  height: 100px;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.2s;
}

.buy,
.cart {
  cursor: pointer;
  padding: 4px 8px;
  font-family: arial;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  height: 26px;
  width: 86px;
  transition: height 0.2s, width 0.2s;
}

.buy {
  margin-left: 5px;
}

.buy:hover,
.cart:hover {
  height: 40px;
  width: 90px;
}

.price {
  margin-top: -10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(202, 193, 193);
  opacity: 0.7;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  z-index: 30;
}

.modal_menu {
  width: 400px; /* Set width of modal menu */
  height: 300px; /* Set height of modal menu */
  background-color: rgb(102, 98, 98);
  opacity: 1;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 32;
}

.sizes {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Add some space between sizes and modal cart */
}

.sizeBtn {
  cursor: pointer;
  width: 30px;
  margin-right: 3px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 4px 5px;
}

.modal-cart {
  cursor: pointer;
  width: 90px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 8px 10px;
  margin-top: 10px;
}

.close_modal {
  border: none;
  background-color: transparent;
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 5px;
  cursor: pointer;
}

.layer {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.open {
  background-color: green;
}
